/* You can add global styles to this file, and also import other style files */

body{
    background: #2E9CE6;
    padding: 3em;
    font-family: arial;
    color: #fff;
}

ul{
    list-style-type: none;
    margin-right: 30px;
    display: flex;
}

ul li a{
    font-size: 1.5em;
    margin-right: 30px;
}

a{
    color: #fff;
    text-decoration: none;
}