<div class="container dark">
    <div class="col">
        <p>Add a Todo</p>
    </div>
    <div class="col">
        <p>Todos ({{itemcount}})</p>
    </div>
</div>

<div class="container light" [@goals]="goals.length">
    <div class="col">
        <p class="sm">What are your todos? Add them!</p>
        <form>
            <input type="text" name="item" placeholder="Todo Here..." [(ngModel)]="goalText" class="txt">
            <!-- <br><span>{{ goalText }}</span> -->
            <input type="submit" class="btn" [value]="btnText" (click)="addItem()">
        </form>
    </div>
    <div class="col">
        <p class="todo-container" *ngFor="let goal of goals, let i = index" (click)="removeItem(i)">
            {{goal}}            
        </p>
    </div>
</div>
